body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --c-main: #2c6059;
  --c-second: #576b99;
}

.navbar-brand {
  color: var(--c-main);
}

.navbar-brand img {
  width: 30px;
  margin-right: 10px;
}

.btn {
  font-size: 15px;
}

.btn-primary,
.bg-primary {
  background-color: var(--c-main) !important;
  border: none;
}

.btn-primary:hover {
  background-color: var(--c-main);
  opacity: 0.9;
}

.btn-secondary {
  background-color: var(--c-second);
}

.btn-secondary:hover {
  background-color: var(--c-second);
  opacity: 0.9;
}

.icon {
  margin-right: 5px;
}
